fastapi
uvicorn
autocorrect
contractions
wrapt
cachetools
google
google-generativeai
spacy
rapidfuzz
nltk
docx2txt
PyMuPDF
pytesseract
python-multipart
pyinstaller
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
requests
beautifulsoup4
bs4
msal
IPython
ocrmypdf
fuzzywuzzy
pdf2image
pdfrw
